@media screen and (max-width: 600px) {
    .class {
      background: #ffeba7;
    }
  }

  html,body
  {
      width: 100%;
      height: 100%;
      margin: 0px;
      padding: 0px;
      overflow-x: hidden; 
      background-color: #364050;
  }

.profile_drop .dropdown-toggle::after {
    content: none;
    
}

.profile_drop .dropdown-toggle{

    background-color: transparent;
    border: none;

}
.profile_drop .dropdown-toggle:focus {
    background-color: transparent;
    outline: none;
    box-shadow: none;
  }

.profile_drop .dropdown-toggle:hover{

    background-color: transparent;
    outline: none;
    box-shadow: none;

}

.emblem{

    width: 75px;
    height: 75px;
    margin-left:10px;

}

.profile{

    min-width:15px;
    min-height:15px;
    max-width: 55px;
    max-height: 55px;
    margin-top: 5px;

    

}

.heart{
    min-width:50px;
    min-height:50px;
    max-width: 55px;
    max-height: 55px;
    margin-top: 10%;
    margin-left: -4%;

}

.navbar{
    width: 100%;
    position: fixed;
    z-index: 10;

}

.navbar-nav .nav-link {
    color:#ffeba7;
    padding-top: 5%;
    text-decoration: none;  
}

.navbar-nav .nav-link:hover{
    text-decoration: underline;
    color: white;

}

.navbar-nav .nav-link:active{
    text-decoration: underline;
    color: white;

}
.format{
  color: #ffeba7;
}
.chat {

    min-width: 30px;
    min-height:30px;
    max-width: 55px;
    max-width: 55px;
}

.collapse .heart{

    margin-top:15px;
    margin-left: 10px;

}

.collapse .chat{
    margin-top:10px;
    margin-left: 10px;

}


.input-group{

    width: 50%;
    min-width: 50%;


}

.carousel_1 {
    background-color:#364050;

}

.test_1{

    width: 500px;
    height:500px;

}

.test_2{

    width: 500px;
    height: 500px;

}

.test_3{

    height: 500px;
    width: 500px;

}

.c_1{

    width:400px;
    height:400px;
   

}
.c_2{

    width:400px;
    height:400px;

}
.c_3{

    width:400px;
    height:400px;

}

.card-img {
  width:400px;
  height:400px;
  object-fit: cover;
}

.card {

    height: 410px; 
    width: 410px;


}

.footer{
    margin-top: 5%;
    background-color:#2a2b38;
}




.footer_items{
    font-size: 20px;
    margin-left: 3%;
    margin-right: 3%;
    color: #ffeba7;
    text-decoration: none;

}

a:hover{
    text-decoration: underline;
    color:orange;
}

a:active{
    text-decoration: underline;
    color: orange;

}

.c_name{
    margin-left: 5%;
    margin-right:5%;
    color: #ffeba7;
    font-size: 20px;


}