.navbar{

    background-color: 	#36454F;
    height: 5%;

}

body{

    background-color: 	#E5E4E2;

}

.emblem{

    width: 10%;
    height:10%;

}

.profile{

    width: 10%;
    height:10%;

}

.input-group{

 
    border: none;
    float: left;
    width: 45%;
    background: white;

}

.round{
    border-bottom-right-radius:15px;
    border-bottom-left-radius:15px;
   -moz-border-radius-bottomright:15px;
   -moz-border-radius-bottomleft:15px;
   -webkit-border-bottom-right-radius:15px;
   -webkit-border-bottom-left-radius:15px;

    -moz-border-radius-topright:15px;
    -moz-border-radius-topleft:15px;
    -webkit-border-top-right-radius:15px;
    -webkit-border-top-left-radius:15px;
    border-top-right-radius:15px;
    border-top-left-radius:15px;
     }
