@media screen and (max-width: 600px) {
    .class {
      background: #ffeba7;
    }
  }

body{

    background-color:#364050;

}

nav .navbar{


}

.emblem{

    width: 75px;
    height: 75px;

}

.profile{

    min-width:15px;
    min-height:15px;
    max-width: 55px;
    max-height: 55px;

    margin-left: 2%;
    

}

.navbar-nav .nav-link {
    color:#ffeba7;
    padding-top: 5%;
    text-decoration: none;
    margin-right: 3%;
}

.navbar-nav .nav-link:hover{
    text-decoration: underline;
    color: white;

}

.navbar-nav .nav-link:active{
    text-decoration: underline;
    color: white;

}
.format{
  color: #ffeba7;
}
.chat {

    min-width: 30px;
    min-height:30px;
    max-width: 55px;
    max-width: 55px;
    
   
}


.input-group{

    width: 50%;
    min-width: 50%;


}

.carousel_1 {
    background-color: rgb(225, 217, 217);

}

.test_1{

    width: 500px;
    height:500px;

}

.test_2{

    width: 500px;
    height: 500px;

}

.test_3{

    height: 500px;
    width: 500px;

}

