
input{
  margin:auto;
  width: 400px;
  height:20px;
  padding: 20px 10px 20px ;
  text-align: left;
  border:none;
  background-color: white;
  font-size: 25px;
  margin: 20px 0px 15px 0px;


}

.dropdown-toggle::after {
  content: none;
  background-color: transparent;
  border: none;
  
}

.dropdown-toggle{

  background-color: transparent;
  border: none;

}

.submit_container{
  width: 500px;
  height: 500px;
  background-color: black; 
  align-content: center;
  margin-left: 37%;
  margin-top: 10%;
}


.elements{
  margin-left: 9%; 
  padding-top: 25%;
}

.label{
  
  color: white;
  font-size: 30;
  font-weight: bolder;
  margin-left: 35%;
  
  
}

button{
  background-color: aqua;
}

.container{
  background-color:#71797E;
  height:80%;
}

p{
  text-align: center;
}

.upload{
  height:40px;
}




.input-group{


  border: none;
  float: left;
  width: 45%;
  background: white;

}

.search{

  width: 50%;
  background-color: purple;

}


.profile_drop .dropdown-toggle::after {
  content: none;
  
}

.profile_drop .dropdown-toggle{

  background-color: transparent;
  border: none;

}
.profile_drop .dropdown-toggle:focus {
  background-color: transparent;
  outline: none;
  box-shadow: none;
}

.profile_drop .dropdown-toggle:hover{

  background-color: transparent;
  outline: none;
  box-shadow: none;

}

.emblem{

  width: 75px;
  height: 75px;
  margin-left:10px;

}

.profile{

  min-width:15px;
  min-height:15px;
  max-width: 55px;
  max-height: 55px;
  margin-top: 5px;

  

}

.heart{
  min-width:50px;
  min-height:50px;
  max-width: 55px;
  max-height: 55px;
  margin-top: 10%;
  margin-left: -4%;

}

.navbar-nav .nav-link {
  color:#ffeba7;
  padding-top: 5%;
  text-decoration: none;  
}

.navbar-nav .nav-link:hover{
  text-decoration: underline;
  color: white;

}

.navbar-nav .nav-link:active{
  text-decoration: underline;
  color: white;

}
.format{
color: #ffeba7;
}
.chat {

  min-width: 30px;
  min-height:30px;
  max-width: 55px;
  max-width: 55px;
}

.collapse .heart{

  margin-top:15px;
  margin-left: 10px;

}

.collapse .chat{
  margin-top:10px;
  margin-left: 10px;

}


.input-group{

  width: 50%;
  min-width: 50%;


}