
input{
  margin:auto;
  width: 400px;
  height:20px;
  padding: 20px 10px 20px ;
  text-align: left;
  border:none;
  background-color: white;
  font-size: 25px;
  margin: 20px 0px 15px 0px;


}


.submit_container{
  width: 500px;
  height: 500px;
  background-color: black; 
  align-content: center;
  margin-left: 37%;
  margin-top: 10%;
}


.elements{
  margin-left: 9%; 
  padding-top: 25%;
}

.label{
  
  color: white;
  font-size: 30;
  font-weight: bolder;
  margin-left: 35%;
  
  
}

button{
  background-color: aqua;
}

.container{
  background-color:#71797E;
  height:80%;
}

p{
  text-align: center;
}

.upload{
  height:40px;
}




.input-group{


  border: none;
  float: left;
  width: 45%;
  background: white;

}

.search{

  width: 50%;
  background-color: purple;

}

